<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="en_US" />
<meta name="google-site-verification" content="3wzNgbjvFNHkH-8QpougMZ0s9Y4GEjG49kEb49QQqpw" />
<meta property="og:description" content="{{ page.description  }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="article" />
<script type="application/ld+json">
{
    "@type":"BlogPosting",
    "url":"{{ site.url }}{{ page.url }}",
    "headline":"{{site.title}}",
    "dateModified":" {{ site.time }}",
    "datePublished":" {{ page.date }}",
    "author":{"@type":"Person","name":"{{ site.author.name }}"},
    "description":"{{ page.description }}",
    "publisher":{
        "@type":"Organization",
        "name":"{{ site.author.name }}"
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/public/img/head.jpg"
        }
      },
    "image": "{{ site.url }}/public/img/cv.png",
    "mainEntityOfPage":{"@type":"WebPage",
    "@id":"{{ site.url }}{{ page.url }}"},
    "@context":"http://schema.org"
  }
</script>

<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

