---
layout: empty
---
{% include header.html %}
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
<link rel="stylesheet" href="/public/css/kityminder.css" rel="stylesheet">
<style type="text/css">
    .go-back {
        padding-top: 20;
        font-size: 18px;
        margin-left: 20;
        line-height: 1.5;
    }

    .go-back a{
        color:white;
    }
</style>
<script type="text/javascript" src="/public/js/kity.min.js"></script>
<div class="go-back">
  <a class="pjaxlink" href="/"> 回到主页</a>
</div>

<div class="col-md-12 aside3-title">
<h3 id="#identifier">{{ page.title }}</h3>
{{ page.date | date:"%Y年%m月%d日" }}
<HR>
</div>

{{ content }}
<script type="text/javascript" src="/public/js/kityminder.core.min.js"></script>
<script type="text/javascript">
    // 创建 km 实例
    /* global kityminder */
    var km = window.km = new kityminder.Minder();
    km.setup('#minder-view');
    km.disable();
    km.execCommand('hand');
</script>

