---
layout: default
---
<head>
  {% include header.html %}
</head>
<article class="post">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
    <HR>
  </div>
  <div id="content" style="margin-left:40px;margin-right:40px;color:#fff;height:100%">
	{{ content }}
  </div>
</article>
 	
<script type="text/javascript" src="https://tajs.qq.com/stats?sId=37805902" charset="UTF-8"></script>
<script type="text/javascript" src="./../public/js/kity.min.js"></script>
<script type="text/javascript" src="./../public/js/kityminder.core.js"></script>
<script type="text/javascript">
var km = window.km = new kityminder.Minder();
[].forEach.call(document.querySelectorAll(".km-container"), function(dom){
	km.setup(dom);
});
</script>
